<footer class="bg-dark text-center p-2">
  <!-- <p class="h4">@Deveduar</p> -->
  <p class="h5" ><a class="text-decoration-none text-white" href="mailto:deveduar@gmail.com">deveduar@gmail.com</a></p>
</footer>
